header {
    background: #cccccc;
    width: 100%;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#logo {
    width: 12%;
}

nav {
    position: absolute;
    top: 50%;
    right: 10%;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 1.5%;
}

nav li:hover {    
    font-size: 101%;
    transition: 5s;
    color: #290a91;
}

nav a {
    color: black;
    font-weight: bolder;
    font-size: 100%;
    text-decoration: none;
}

main {
    height: 100%;
}

.produtos {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5%;
    transition: 5s;
}

.produtos li:hover {
    border: 6px solid #290a91;
    border-radius: 50%;
    font-size: 90%;
    transition: 5s;
}

.produtos li:active {
    border: 6px solid #129718;
    border-radius: 50%;
    font-size: 90%;
    transition: 3s;
}

.produto-descricao:active {
    font-size: 90;
    transition: 3s;
}

.produtos img {
    width: 76%;
}

.produtos img:hover {
    width: 80%;
    transition: 2.5s;
}

.produtos h2 {
    font-size: 17px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 110%;
}

.produto-preco {
    font-size: 105%;
    margin-top: 4%;
    font-weight: bold;
}

footer {
    text-align: center;
    color: #ffffff;
    background: url("/img/bg.jpg");
}

footer img {
    width: 12%;
    font-size: 13px;
    margin: 20px;
}