header {
    background: #cccccc;
    width: 100%;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#logo {
    width: 12%;
}
nav {
    position: absolute;
    top: 50%;
    right: 2%;
}
nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 1.5%;
}
nav a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.produtos {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos img {
    width: 76%;
}

.produtos h2{
    font-size: 140%;
    font-weight: bold;
}

.produto-descricao {
    font-size: 110%;
}

.produto-preco {
    font-size: 125%;
    font-weight: bold;
}