body {
    background: rgb(0, 183, 255);
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #cccccc;
    width: 100%;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#logo {
    width: 7%;
}

nav {
    position: absolute;
    top: 50%;
    right: 10%;
}

nav li {
    text-transform: uppercase;
    margin: 0 0 0 1.5%;
    display: inline;
}

nav li:hover {    
    font-size: 101%;
    transition: 5s;
    color: #290a91;
}

nav a {
    color: black;
    font-weight: bolder;
    font-size: 100%;
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
}

.banner {
    width: 100%;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios, .principal {
    margin-top: -1%;
    background: #ffffff;
    padding: 20px;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 1% 0 2% 0;
}

.utensilios {
    width: 9%;
    float: left;
    margin: 0 2% 2% 0; 
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    padding: 0 0 2em;
    text-align: center;
}

.principal em {
    font-style: italic;
}

.mapa-principal {
    width: 90%;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
}

.conteudo-beneficios {
    width: 80%;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 36.5%;
    margin-right: 10%;
}
.itens {
    font-style: italic;
    line-height: 1.5em;
}


.itens:first-child {
    color: red;
}

.itens:nth-child(2n) {
    font-weight: bold;
}

.itens:last-child {
    color: darkviolet;
}

.imagem-beneficio {
    width: 50%;
}

.video {
    width: 560px;
    margin: 5% auto;
}

footer {
    text-align: center;
    font-size: 7px;
    color: aliceblue;
    background: url("/img/bg.jpg");
}

footer img {
    width: 7%;
    font-size: 13px;
    margin: 3%;
}