#banner {
    width: 100%;
    border: 0px;
    margin: 0%;
    padding: 0%;
}

header {
    background: #cccccc;
    width: 100%;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#logo {
    width: 12%;
}

nav {
    position: absolute;
    top: 50%;
    right: 10%;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0 0 1.5%;
}

nav li:hover {    
    font-size: 101%;
    transition: 5s;
    color: #290a91;
}

nav a {
    color: black;
    font-weight: bolder;
    font-size: 100%;
    text-decoration: none;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.titulo {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 36.5%;
    margin-right: 10%;
}
.itens {
    font-style: italic;
}

.imagembeneficio {
    width: 50%;
}